main.content {
  text-align: left;
  padding: 1rem;
  padding-block-start: 2rem;
  padding-block-end: 6rem;
  color: white;
}

main.content section.cards {
  display: flex;
  overflow: auto;
}

section.shows {
  margin-block-start: 25rem;
}

@media only screen and (max-width: 767px) {
  main.content section.cards {
    /* flex-direction: column; */
    /* allows side card scrolling*/
    gap: 1rem;
    /* overflow: unset; */
    /*return to remove side scrolling space   */
  }
}