main.content {
  text-align: left;
  padding: 1rem;
  padding-block-end: 6rem;
  color: white;
}

main.content section.cards {
  display: flex;
  justify-content: space-between;
}

section.shows {
  margin-block-start: 25rem;
}