.footer {
  text-align: left;
  display: flex;
  flex: 1;
  background-color: #21222A;
  color: white;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footer p {
  font-size: 0.8rem;
}