.navbar {
  text-align: left;
  display: flex;
  background-color: #282c34;
  color: white;
  align-items: center;
  flex: 1;
  ;
}

.inner-text {
  display: flex;
  align-items: baseline;
}

.navbar li {
  display: inline;
  padding-inline: 1rem;
}