.profile-pic-container__profile-pic {
  width: 23rem;
  pointer-events: none;
  border-radius: 1rem 1rem 0rem 0rem;
}

.profile-pic-container {
  min-height: 17rem;
  display: flex;
  place-items: center;
  place-content: center;
}

.profile-pic-container svg {
  width: 80%
}