   iframe {
     margin: auto;
     min-width: 50%;
     max-width: 90%;
     min-height: 75%;
   }

   @media only screen and (max-width: 767px) {
     iframe.MuiCardMedia-root.MuiCardMedia-media {
       min-width: unset;
       min-height: unset;
       width: unset;
     }
   }